@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-body">
    <p>
        We use the same privacy policy as describe at main site: <a href="https://www.graft.network/privacy-policy/"> https://www.graft.network/privacy-policy/ </a>
    </p>    
    <p>
        <h3>Exception</h3>
    </p>
    <p>
        We use some registration to send free LeX to users. We use the info only for anti-abusing purpose. The info will NOT be used on other purpose.
    </p>
</div>


    
