@page
@model LyraLexWeb.Pages.Exchange.IndexModel
@{
    ViewData["Title"] = "Exchange";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">LeX Online Exchange</h1>
</div>
<div class="text-body">

</div>