@page "/"
@namespace LyraLexWeb2.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyra Lex Community</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5de3f95cdb58670012462b92&product=sticky-share-buttons&cms=website' async='async'></script>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <div class="sharethis-inline-share-buttons"></div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
