@page "/GetStarted"

<div>
    <h1 class="display-4">Get Started With Lyra LeX</h1>
</div>
<div class="text-body">
    <p>
        When you start LyraWallet Lex, you will see a Lyra logo, and then the network selection:
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573302576.png" />
        <img width="270" height="480" src="/images/tut/Screenshot_1573302618.png" />
    </p>
    <p>
        Currently only "lexnet" is supported. Tap "Next",
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573302631.png" />
    </p>
    <p>
        Tap "Create New Account",
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573302645.png" />
    </p>
    <p>
        And then you have a new Lyra LeX wallet. You can pull-down to refresh balance anytime. But first, we need some LeX to get with. Goto "Settings", tap "Visit Lyra LeX Online Community". This will open your default web browser.
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573302693.png" />
        <img width="270" height="480" src="/images/tut/Screenshot_1573302706.png" />
    </p>
    <p>
        Rand and scroll down to the bottom and tap "register here", open the register form, fill and submit to get your free LeX.
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573302777.png" />
    </p>
    <p>
        You can find your Account ID, or Public Address in "Settings" inside your wallet app. Tap on the "copy" icon to copy account id.
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573302673.png" />
    </p>
    <p>
        Back to "Balance", pull-down to force a balance refreshing. You can see the updated balance there.
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573302962.png" />
    </p>
    <p>
        Congratulations! Now you have enough LeX to create your own Token. Tap "Settings", then tap "Create Token", and then fill some info about your Token like this, then tap "Create":
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573302934.png" />
        <img width="270" height="480" src="/images/tut/Screenshot_1573302944.png" />
    </p>
    <p>
        If your Token create successfully, you will see a notification like this. Sometime the name of the Token has already been taken by others, you need to chose another one.
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573302952.png" />
    </p>
    <p>
        Tap "Balance", and Who-la, your Token is just there!
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573303123.png" />
    </p>
    <p>
        Now let's open your own shop, sell something pricing by your own Token. Tap "My Shop", then tap "+" at the right-up corner, name a product, the price, and then you can select pricing by your own Token:
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573302978.png" />
        <img width="270" height="480" src="/images/tut/Screenshot_1573303004.png" />
        <br />
        <img width="270" height="480" src="/images/tut/Screenshot_1573303009.png" />
        <img width="270" height="480" src="/images/tut/Screenshot_1573303029.png" />
    </p>
    <p>
        Tap the big "+" button right-bottom corner to add a product to your shop. When finished adding product, tap the "X" at right-up corner.
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573303032.png" />
    </p>
    <p>
        Your pocket Lyra POS Machine is ready. Add some goods to cart, and then checkout. Show the buyer the QR code, and he/she can pay you a his/her Lyra Wallet App.
    </p>
    <p class="text-center">
        <img width="270" height="480" src="/images/tut/Screenshot_1573303036.png" />
        <img width="270" height="480" src="/images/tut/Screenshot_1573303049.png" />
    </p>
    <p>
        When you can QR code to pay, your device may ask if you allow the app to use your camera. You need to allow to use the can to pay.
    </p>
</div>

