@page "/"

<div>
    <h1 class="display-4">Welcome to Lyra LeX!</h1>
</div>
<div class="text-body">
    <h3>What New</h3>
    <ul>
        <li>[November 21, 2019] Fyi, we do not do sms. </li>
        <li>[November 18, 2019] The Lyra LeX Community web server is being upgraded. We will restore service as soon as possible. </li>
        <li>[November 15, 2019] We are making a lot of changes for the feature of in-wallet exchange. </li>
        <li>[November 09, 2019] A new <a href="/roadmap">roadmap</a> about Lyra is published.</li>
        <li>[October 31, 2019] The Lyra LeX Community web site goes online.</li>
    </ul>
</div>
