@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Nebula for Lyra @Configuration["network"]</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="showblock">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Blocks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="showbb">
                <span class="oi oi-fork" aria-hidden="true"></span> Nodes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fees">
                <span class="oi oi-dollar" aria-hidden="true"></span> Fees
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stats">
                <span class="oi oi-timer" aria-hidden="true"></span> Statistics
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="webwallet">
                <span class="oi oi-key" aria-hidden="true"></span> Wallet
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
