@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/fees"

<p>Total fee generated: </p>

<p>
    <div>Earning List</div>
    <ol>
        <li>aaa</li>
        <li>bbbbbb</li>
    </ol>
</p>