@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/fees"
@page "/fees/{addr}"

@if (feeState.Value.IsLoading)
{
    <p><em>Fetching fee stats... This may take a while.</em></p>
}
@if (feeState.Value.Stats != null)
{
    <p>Total fee generated: @feeState.Value.Stats.TotalFeeGenerated</p>

<p>
    <div>Earning List</div>
    <ol>
        <li>aaa</li>
        <li>bbbbbb</li>
    </ol>
</p>
}

