@page "/"
@using Nebula.Shared
@inject LyraRestClient client

<h1>Block Explorer for LYRA Block Lattice </h1>

Search by Hash
<input type="text" @oninput="oninput" @bind-value="@SearchHash" />

@if (sbgen == null)
{
    <p><em>Loading...</em></p>
}
else
{

<div style="border: 1px, solid">
    <p>Block Details</p>
    <pre>@sbgen.Print()</pre>
</div>

}

@code{
    // get svc gen
    string error;
    ServiceBlock sbgen;
    string SearchHash;

    //protected override async Task OnInitializedAsync()
    //{
    //    try
    //    {
    //        var ret = await client.GetServiceGenesisBlock();
    //        if (ret.ResultCode == APIResultCodes.Success)
    //            sbgen = ret.GetBlock() as ServiceBlock;
    //    }
    //    catch (Exception ex)
    //    {
    //        error = ex.ToString();
    //    }
    //}

    public async void oninput(ChangeEventArgs args)
    {
        var ret = await client.GetBlock(args.Value.ToString());
        if (ret.ResultCode == APIResultCodes.Success)
        {
            sbgen = ret.GetBlock() as ServiceBlock;
            //StateHasChanged();
        }

    }
}
