@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h1>Block Explorer for LYRA Block Lattice </h1>
<h2>@Configuration["network"]</h2>
<h3>Search by Hash or Account ID</h3>
<p><input size="100" type="text" @oninput="oninput" /></p>


