@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/"

<h1>Block Explorer for LYRA Block Lattice </h1>

<h3>Search by Hash or Account ID</h3>
<p><input size="100" type="text" @oninput="oninput" /></p>


