@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lyra LeX!</h1>
</div>
<div class="text-body">
    <p>
        Lyra is a great Blockchain technology. Before the full roll-out of Lyra eco-system, you can
        tryout our community version of Lyra Blockchain: Lyra eXperience, LeX for short.
    </p>
    <p>
        (several screen shot goes here)
    </p>
    <p>
        By using Lyra LeX, you can create and use your own Token, which based on Lyra Blockchain,
        to try buy/sell/exchange with others. In another words, you can full experience what called unique advanced crypto: Lyra.
    </p>
    <p>
        Scan the QR code bellow to download Lyra LeX directly from you Android/iOS phone.
    </p>
    <p>
        (QR image goes here)
    </p>
    <p>
        To get started with Lyra LeX, you should know that Lyra.Lex token, as the GAS for the wholes system. Creating a new Token will cost 100 LeX.
        Every trade/transaction will cost 1 LeX. Luckily you can get 200 LeX for free by <a href="/register">register here</a>.
    </p>
    <p>
        Lyra LeX is the wallet. Lyra LeX is the POS machine. Lyra LeX is the decentralized online market. Stay tuned, we are evolving rapidly!
    </p>
    <p>Learn about <a href="https://lyra.live/">Lyra: Advanced Tokens Blockchain</a>.</p>
</div>
