@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lyra LeX!</h1>
    <p>Learn about <a href="https://lyra.live/">Lyra: Advanced Tokens Blockchain</a>.</p>
</div>
