@page
@model LyraLexWeb.Pages.GetStartedModel
@{
    ViewData["Title"] = "Get Started";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <h1 class="display-4">Get Started With Lyra LeX</h1>
</div>
<div class="text-body">
    <p>
        TBA
    </p>
</div>
