@page
@model LyraLexWeb.Pages.RoadmapModel
@{
    ViewData["Title"] = "Roadmap";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Lyra Roadmap</h1>
</div>
<div class="text-body">
    <p class="text-body">
        
    </p>
    <p>
        <img src="~/images/LyraDevPlan2019.png" />
    </p>
    <p>
        <img src="~/images/ExchangeforMillions.png" />
    </p>
    <p>
        <img src="~/images/LyraRoadmap.png" />
    </p>
</div>
