@page
@model LyraLexWeb.Pages.RoadmapModel
@{
    ViewData["Title"] = "Lyra Roadmap";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <h1 class="display-4">Lyra Roadmap</h1>
</div>
<div class="text-body">
    <p class="text-body">
        We believe that the crypto industry has changed how we live a lot. 
        Bitcoin has been there for a decade. The worth of Bitcoin grows from 
        bellow one cent to ten thousand dollars. In the meantime, 
        there are near two thousand of cryptos, quite a lot of them still 
        keep alive, are emerging and running every day.
    </p>
    <p class="text-body">
        Unfortunately, until now, the end of 2019, none of the many cryptos, 
        include the mighty Bitcoin, can be used freely at your favorite store. 
        You may ask why?
    </p>
    <p class="text-body">
        The answer is straightforward. None of the cryptos designed for use 
        at the everyday store, weather online/physical. We need crypto, 
        from the very beginning, to be designed to use at a store. The thought 
        must be in the bone and flesh: better than cash.
    </p>
    <p class="text-body">
        Better than cash. This pursuit is why we created the project of Graft, 
        Global Real-time Authorizations and Fund Transfers, to serve the great 
        goal at the beginning of 2017. In the past two years, we published 
        a series of software, including Supernode, Exchange Broker, 
        Verifone Integration,  to try to deliver the original pursuit. 
        But we finally found, the traditional Blockchain like Monero, 
        which Graft Blockchain derived from, has the structural limitations 
        to be transformed to "better cash."
    </p>
    <p class="text-body">
        This fundamental limitation is the reason why Slava Gomzin introduced 
        Lyra Blockchain in 2019. Lyra designed from the bone and flesh 
        to work within shops while inheriting all our past success in 
        developing Graft. We believe Lyra is, and sure will be the "better cash."
    </p>
    <p class="text-body">
        For some reason, Slava has been stepped away from the development 
        of Lyra, temporarily. Luckily he chose a group of new develops 
        to take over the construction before his left. In the past month,
        we've established a new baseline, released the initial version
        LyraWallet, Lyra LeX, and, most importantly, created a new roadmap.
    </p>
    <p class="text-body">
        We never forget why we here.
    </p>
    <p class="text-body">
        The new Lyra team will focus on one thing: the future shop. 
        With the unique competitive advantage of Lyra, we are targeting 
        to build shops that completely based on Blockchain.
    </p>
    <p class="text-body">
        <img width="661" height="434" src="~/images/LyraDevPlan2019.png" />
    </p>
    <p class="text-body">
        We start from consumer-grade product: Lyra LeX. With Lyra LeX,
        we can test running all new ideas, serve the new requirement
        form our customers, and win a player qualification of the championship
        for "better cash." And then Lyra Permissioned, which is the
        original goal of Slava. And then the final goal: Fully distributed,
        Blockchain-based "Shopify."
    </p>
    <p class="text-body">
        <img width="568" height="377" src="~/images/ExchangeforMillions.png" />
    </p>
    <p class="text-body">
        Imagine a world in which every person has his Token. With Lyra,
        it is possible. Lyra lowers the bar for setup a new Token to such a
        degree that the cost is near zero. We know at the very beginning of
        humankind's economy, there so many types of currency. With so many
        kinds of money, people realize how to gain trust, how to create
        value. Lyra is setting a new beginning now. By the builtin exchange,
        every Token finds its value, and every user creates her/his value.
        With an exchange backed by Graft, we can have a unified platform for Lyra.
    </p>
    <p class="text-body">
        <img width="675" height="397" src="~/images/LyraRoadmap.png" />
    </p>
    <p class="text-body">
        There's an old Chinese saying, a thousand miles begins with a 
        single step. The great expedition of creating "better cash" 
        begins Lyra LeX. After the LeX 1.0 alpha, we will focus on an 
        inside-wallet exchange. After the exchange, we will implement 
        an in-app button to transfer the user's "My Shop" online.
    </p>
    <p class="text-body">
        In the coming years, We'll focus on the business version of Lyra. 
        Finally, the DAG-style Blockchain will be implemented to achieve 
        a fully distributed network. Until then, can we say, we have 
        a solution for better cash: Lyra Network.
    </p>
</div>
