@page
@model LyraLexWeb.Pages.RoadmapModel
@{
    ViewData["Title"] = "Lyra Roadmap";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <h1 class="display-4">Lyra Roadmap</h1>
    <p>
        By Lyra Team<br />
        November 9, 2019 at 5:48 PM. GMT+8
    </p>
</div>
<div class="text-body">
    <p class="text-body">
        We believe that the crypto industry has changed how we live a lot. Bitcoin has been there for a decade. The worth of Bitcoin has grown from below one cent to ten thousand dollars. In the meantime, there are nearly two thousand cryptos, quite a lot of them still alive and new ones are emerging and running every day.
    </p>
    <p class="text-body">
        Unfortunately, until now, the end of 2019, none of the many cryptos, include the mighty Bitcoin, can be used freely at your favorite stores. You may ask why?
    </p>
    <p class="text-body">
        The answer is straightforward. None of the cryptos were designed for use at the everyday store, either online or physical. We need a crypto, that’s from the very beginning is designed to be used at a store. The main idea has to be embedded in from the start: it has to be better than cash.
    </p>
    <p class="text-body">
        Better than cash. This pursuit is why Graft (Global Real-time Authorizations and Fund Transfers) project was created, to serve the great goal at the beginning of 2017. In the past two years, we published a series of software, including Supernode, Exchange Broker, Verifone Integration, to try to deliver to the original pursuit.
    </p>
    <p class="text-body">
        At the time that GRAFT was started, a two-layer PoW/PoS approach built on top of an existing privacy PoW blockchain like Monero made the most sense.  Since then, new blockchain technologies have advanced, including DAG, which made it possible to design a better solution than the initial PoW/PoS approach.
    </p>
    <p class="text-body">
        This was the reason why Slava Gomzin started working on and introduced Lyra DAG-style blockchain (block lattice) in 2019.  Lyra was designed from the ground up to overcome any limitations left with the PoW/PoS approach, and also provide a multi-token environment, suitable for things like stable coins and merchant loyalty programs.  It was also designed to inherit the work and experience that was developed while working on GRAFT, including the industry experience.
    </p>
    <p class="text-body">
        Unfortunately, Slava had to step away from the active development of Lyra. Luckily he chose a group of new develops to take over the construction before he left. In the past month, we've established a new baseline, released the initial version LyraWallet, Lyra LeX, and, most importantly, created a new roadmap.
    </p>
    <p class="text-body">
        We never forget why we are here.
    </p>
    <p class="text-body">
        The new Lyra team will focus on one thing: the future shop. With the unique competitive advantage of Lyra, we are targeting to build shops that are based completely on the blockchain.
    </p>
    <p class="text-body">
        <img width="661" height="434" src="~/images/LyraDevPlan2019.png" />
    </p>
    <p class="text-body">
        We start from the consumer-grade product: Lyra LeX (for Lyra Experience). With Lyra LeX, we can test running all new ideas, serve the new requirements from our customers, and win a player qualification of the championship for "better cash." After this stage will come to Lyra Permissioned, which is the original goal of Slava. And then the final goal: Fully decentralized, Blockchain-based "Shopify."
    </p>
    <p class="text-body">
        <img width="537" height="376" src="~/images/ExchangeforMillions.png" />
    </p>
    <p class="text-body">
        Imagine a world in which every person has their own Token. With Lyra, it is possible. Lyra lowers the bar for setting up a new Token to such a degree that the cost is near zero. We know at the very beginning of humankind's economy, there were so many types of currency. With so many kinds of money, people realize how to gain trust, how to create value. Lyra is setting a new beginning now. Via the built-in exchange, every Token finds its value, and every user creates her/his value. With an exchange backed by Graft’s original coin, GRFT, which functions as gas and exchange medium in the Lyra network, we can have a unified, built-in, decentralized exchange platform for Lyra.
    </p>
    <p class="text-body">
        <img width="675" height="397" src="~/images/LyraRoadmap.png" />
    </p>
    <p class="text-body">
        There's an old Chinese saying: a thousand miles begins with a single step. The great journey of creating "better cash" begins Lyra LeX. After the LeX 1.0 alpha, we will focus on an inside-the-wallet exchange. After the exchange, we will implement a way to publish items from one’s phone-based point-of-sale to the network (other wallets), creating a decentralized eCommerce/e-tail solution.
    </p>
    <p class="text-body">
        Finally, in the coming years, we will focus on building consensus and governance mechanisms and rolling out the decentralized version of Lyra.
    </p>
</div>
