@page
@model LyraLexWeb.Pages.SendmeLeXModel
@{
    ViewData["Title"] = "SendmeLeX";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Fill the form and get your free 200 Lyra.LeX!</h1>
</div>
<div class="text-body">
    <form method="post">
        <div class="form-group">
            <Label class="control-label">User Name:</Label>
            <input asp-for="req.UserName" size="20" class="form-control" />
            <span asp-validation-for="req.UserName"></span>
        </div>
        <div class="form-group">
            <Label class="control-label">Email Address:</Label>
            <input asp-for="req.Email" size="20" class="form-control" />
            <span asp-validation-for="req.Email"></span>
        </div>
        <div class="form-group">
            <Label class="control-label">Your Lyra Account ID (or Public Address):</Label>
            <input asp-for="req.AccountID" size="100" class="form-control" />
            <span asp-validation-for="req.AccountID"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>

    </form>

    <p>
        @Model.msg
    </p>
</div>
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}